/* Root styles */
body {
  margin: 0;
  padding: 0;
}

/* Hide volume and mute controls */
video::-webkit-media-controls-volume-control-container,
video::-webkit-media-controls-mute-button {
    display: none !important;
}

video::-webkit-media-controls-volume-slider {
    display: none !important;
}
